@{
    ViewData["Title"] = "Registration Confrimation Page";
}


<div class="major-container flex-and-center-vertically">
    <div class="text-center">
        <h1 class="display-4">Congratulations!!! You are now registered</h1>
        <p>A confirmation link has been sent to the email you provided us, </p>
        <p>please go and click on the link to confirm email works. </p>
        <p>Welcome onboard!</p>
        <br/>
        <a asp-action="Index" asp-controller="Home">Goto home</a>
    </div>
</div>